---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jacob Rosenlund</div>
    <div class="text-3xl py-3 font-bold">I'm a College Studtent and active learner.</div>
    <div class="py-2">
      <text class="text-lg">
        This is my website: a place I call home on the interwebs. Here, I share updates on projects I’m working on and the occasional random thought. If you want to keep up with what I’m doing, you’re in the right place.
      </text>
    </div>
    <div class="mt-8">
      <a href="https://facebook.com/jacob.rosenlund.1" target="_blank" class="btn btn-outline ml-5">Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Portable SDR Station"
    img="/post_img.webp"
    desc="A rugged and portable linux cyberdeck for Ham Radio operation."
    url="https://github.com/JacobRosenlund/Portable-SDR-Station"
    badge="NEW"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
